.h2h{
    margin-left: 20px;
    margin-top: 20px;
    height: 50px;
}
.logo{
    margin-left: 300px;
    margin-top: 20px;
    height: 50px;
}

.head{
    margin-bottom:0px;
    padding-left: 45px;
}